<% provide(:title, 'About us') %>

<h1>About us</h1>
<p>
  This is the about page for the book list application. 
	The function of this application includes:
</p>

<ul>
	<li>Signup/signin.</li>
	<li>Add books.</li>
	<li>Save presistent data.</li>
</ul>