<li>
	<span class="name"><%= book.name %></span>
	<span class="timestamp">
		Added <%= time_ago_in_words(book.created_at) %> ago.
	</span>
	<% if current_user?(book.user) %>
		<%= link_to "delete", book, method: :delete,
		                            data: { confirm: "You sure?" },
		                            title: book.name %>
	<% end %>
</li>